@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #000000ff;
  --black-lighter: #0b0b0b;
  --white: #f0edeeff;
}

body {
  color: var(--white);
  background: var(--black-lighter);
}
