.profilePic {
  border-radius: 50%;
  object-position: 25% 0%;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  padding: 20px;
}

.main h1 {
  font-size: 3rem;
  margin-bottom: 0;
}

.main h2 {
  margin-top: 0;
  font-size: 2rem;
}

.main p {
  margin: 0 auto;
  font-size: 20px;
  max-width: 45ch;
}

.callToAction {
  display: inline-flex;
  align-items: center;
  margin-top: 30px;
  font-size: 1.2rem;
  padding: 15px 60px;
  background: var(--white);
  color: var(--black);
  border-radius: 5px;
  text-decoration: none;
}

.callToAction svg {
  margin-right: 10px;
}

.resumeButton {
  width: fit-content;
  display: block;
  padding: 10px 20px;
  border: 1px solid var(--white);
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 5px;
  text-decoration: none;
}

.socialLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 50px;
  font-size: 2rem;
  cursor: pointer;
}

