.profilePic {
  border-radius: 50%;
  object-position: 25% 0%;
  object-fit: cover;
}



.resumeButton {
  width: fit-content;
  display: block;
  padding: 10px 20px;
  border: 1px solid var(--white);
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 5px;
  text-decoration: none;
}

.socialLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 50px;
  font-size: 2rem;
  cursor: pointer;
}

